{$DOMAIN} {
  encode zstd gzip

  @api path /api/*
  handle @api {
    reverse_proxy backend:3001 {
      header_up X-Forwarded-Proto {scheme}
      header_up X-Forwarded-Host {host}
      header_up X-Real-IP {remote_host}
    }
  }

  handle {
    reverse_proxy frontend:80
  }

  tls {$ACME_EMAIL}
}
